# rust
target/
**/*.rs.bk

# yew
dist/

# Mac OS shenanigans
.DS_Store

# development database
dev/db/

# thunder client vscode extension
dev/thunder-tests/thunderActivity.json
dev/thunder-tests/thunderEnvironment.json
