# rust
target
**/*.rs.bk

# leptos
app/dist

# mdbook
docs/book

# Mac OS shenanigans
.DS_Store

# development database
dev/db

# thunder client vscode extension
dev/thunder-tests/thunderActivity.json
dev/thunder-tests/thunderEnvironment.json
