# rust
target
**/*.rs.bk

# cargo-run-bin
.bin

# Mac OS shenanigans
.DS_Store

# development database
devel/db

# thunder client vscode extension
devel/thunder-tests/thunderActivity.json
devel/thunder-tests/thunderEnvironment.json
